  <div class="profileContainer">
    <div class="profileContent verticalAlign">
      <div class="profileItem academics">

        <div class="profileItem--academics">
          <div class="profileItem--title">| Vida Acadêmica</div>
          <div class="decorativeDivider"></div>
          <div class="profileItem--content">
            <ul>
              <% @academics.each do |academic| %>  
              <div class="modelObject">
              <li class="institute"><%= academic.college%></li>
              <div class="text-extraSmall areaDomain"><%= academic.course%> | <%= academic.dataRange%> </div>
              <div class="text-extraSmall description"> <%= academic.description%> </div>
              </div>
              <% end %>
            </ul>
          </div>
        </div>

        <div class= profileItem--complementary">
          <div class="profileItem--title">| Cursos Complementares</div>
          <div class="decorativeDivider"></div>
          <div class="profileItem--content">
            <ul>
              <% @complementaries.each do |complementary| %>  
              <div class="modelObject">
              <li class="institute"><%= complementary.college%></li>
              <div class="text-extraSmall areaDomain"><%= complementary.course%> | <%= complementary.dataRange%> </div>
              <div class="text-extraSmall description"> <%= complementary.description%> </div>
              </div>
              <% end %>
            </ul>
          </div>
        </div>      
      </div>
      <div class="profileItem">
          <div class="profileItem--experience">
          <div class="profileItem--title">| Experiências Profissionais</div>
          <div class="decorativeDivider"></div>
          <div class="profileItem--content">
            <ul>
               <% @professionals.each do |professional| %>  
               <div class="modelObject">
              <li class="institute"><%= professional.company%></li>
              <div class="text-extraSmall areaDomain"><%= professional.role%> | <%= professional.dataRange%> </div>
              <div class="text-extraSmall description"> <%= professional.description%> </div>
              </div>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="profileItem skills">
        <div class="profileItem--skills">
          <div class="profileItem--title">| Skills</div>
          <div class="decorativeDivider"></div>
          <div class="profileItem--content">
            <ul>
              <li>Ruby on Rails</li>
              <li>HTML 5</li>
              <li>CSS 3</li>
              <li>Javascript</li>
              <li>SASS</li>
              <li>Bootstrap</li>
              <li>ReactJs</li>
              <li>ReactNative</li>
              <li>Kotlin</li>
              <li>PostgreSQL</li>
              <li>MySQL</li>
              <li>MongoDB</li>
              <li>Redis</li>
            </ul>
          </div>
        </div>
        <div class="profileItem--languages">
          <div class="profileItem--title">| Idiomas</div>
          <div class="decorativeDivider"></div>
          <div class="profileItem--content">
            <ul>
              <li>Espanhol</li>
              <li>Inglês</li>
              <li>Português</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>